* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

main,
div, 
button
  {
   
  text-align: center;
  color:blue;
  margin-top: 120px;
  
}

body{
    display: block;
    padding: 0;
    margin: 0;    
    width:80vw;
    height: 90vh;   
    background-color: black; 
}
.panel{
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-container{
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 10vh;
    background-color: #c7dddf;
    font-size: x-large;
    text-align: center;
      
}
.result{
    margin: 10px;
    padding: 5px;
    width:10vw;
    height: 5vh;
    text-align: center;
    font-size: 50px;
      
}
.option-container{
    display: flex;
    justify-content: space-around; 
    margin: 10px;
    padding: 5px;
    width: 80vw;
    height: 3-vh;
    background-color: #9eb1b3;   
        
}
.option{    
    padding: 10px;
    width: 15vw;
    height: 10vh;
    font-size: larger;
    background-color: lightskyblue;
    border-radius: 25%;
    display: flex;
}
.option:hover{
    background-color: whitesmoke;
}
.navigation{
    width: 80vw;
    height: 10vh;
    margin: 5px;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    background-color:#c7dddf;
}
  
.start, .next {
    width:30vw;
    height: 8vh;
    padding: 5px;
    font-size: larger;
    background-color: #9eb1b3;
}

.start{
    color: white;
    background-color: #5065db;
}

.next{
    color: white;
    background-color: #BF3325;
}

.timer-text {
    padding-top: 0px;
    height: 10px;
    text-align: center;
}